<div class="recipes" *ngIf="recipe">
  <div class="recipes-top">
    <div class="recipes-image">
      <img [src]="image" alt="Recipe Image" />
    </div>

    <div class="recipe-info">
      <h2>{{ recipe.nom }}</h2>
      <p>Auteur : <span>{{ recipe.userId }}</span></p>
      <p>Type : <span>{{ recipe.type }}</span></p>
      <p>Ingrédients : <span>{{ recipe.ingredient }}</span></p>
      <p>Difficulté : <span>{{ recipe.difficulte }}</span></p>
      <p>Nombre de personnes : <span>{{ recipe.nmbrDePersonne }}</span></p>
      <p>Temps de préparation : <span>{{ recipe.tempsDePreparation }}</span></p>
      <p>Date de publication : <span>{{ recipe.createdAt  }}</span></p>
      <p>Avis : <span class="stars">&#9733; &#9733; &#9733; &#9733; &#9733;</span></p>
    </div>
  </div>

  <div class="recipes-detail">
    <h2>Description</h2>
    <p>{{ recipe.recette_detail }}</p>
  </div>
</div>
