* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "PlaywriteITModerna";
  src: url("../src/assets/fonts/PlaywriteITModerna-Regular.ttf")format("truetype");
  font-weight: 200;
  font-style: normal;
}

:root {
  --primary: #345333;
  --secondary: white;
}

body {
  font-family: "PlaywriteITModerna", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}

.navbar {
  background-color: var(--primary);
  color: var(--secondary);
}

a {
  text-decoration: none;
  color: var(--secondary);
}

.form,
.logout button,
.profile-card,
.profile-info {
  background-color: var(--primary);
}
