<div class="recipes-items">
    <div class="recipes">
        <div class="recipes-image">
            <img src="https://www.lesfruitsetlegumesfrais.com/app/uploads/cache/2022/03/header-kaki/2645059109.png" alt="">
        </div>
        
        <div class="recipes-details">
            <h4>{{ name }}</h4>
            <p>{{ detail }}</p>
        </div>
    </div>


    <div class="recipes-other">
        <p>Publiée le {{ date }}</p>
        <p class="stars">&#9733; &#9733; &#9733; &#9733; &#9733;</p>
    </div>
</div>